.confirm-modal-overlay-cal {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(114, 114, 114, 0.5);
  display: flex;
  height: 107rem;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  animation: modalFadeIn 0.3s ease forwards;
}

.confirm-modal-overlay-cal.fade-out {
  animation: modalFadeOut 0.3s ease forwards;
}

.admin-modal-panel-liquidation {
  position: absolute;
  top: 75rem;
  max-width: 900px;
  padding: 25px 40px 25px 25px;
  max-height: 90vh;
  border-radius: 8px;
  background-color: var(--modal-bg, #fff);
  color: var(--text-color);
  box-shadow: 0 3px 12px var(--shadow-color);
  z-index: 1000;
}