.approver {
  border: 0px !important;
}

.confirm-modal-overlay-prf {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(114, 114, 114, 0.5);
  display: flex;
  height: 81rem;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: modalFadeIn 0.3s ease forwards;
}

.confirm-modal-overlay-prf.fade-out {
  animation: modalFadeOut 0.3s ease forwards;
}

.accounting-only {
  background-color: #1f2430;
  padding: .7rem;
  text-align: center;
}

.accounting-only strong {
  color: #fff;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}
