.submitted-oar-request-card {
  margin-bottom: 3rem;
  color: var(--card-text, #111);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

@media print {
  .submitted-oar-request-card,
  .submitted-oar-request-card * {
      visibility: visible;
  }

  .submitted-oar-request-card::before {
      content: "RFG Overtime Approval Request";
      display: block;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
  }
}